#tabsJ{
	float: left;
	font-size: 1em;
	font-weight: bold;
	line-height: normal;
	width: 100%;}
#tabsJ ul {
	list-style: none;
	margin: 0;
	padding: 1em 10px 0 50px;}
#tabsJ li {
	display: inline;
	margin: 0;
	padding: 0;}
#tabsJ a {
	background: url(../images/tableftJ.gif) no-repeat left top;
	float: left;
	margin: 0;
	text-decoration: none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5px;}
#tabsJ a span {
	background: url(../images/tabrightJ.gif) no-repeat right top;
	color: #24618E;
	display: block;
	float: left;
	text-align: center;
	padding-top: 6px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 3px;}
#tabsJ a span {  float: none;}
#tabsJ a:hover { background-position: 0% -42px;}
#tabsJ a:hover span {
	background-position: 100% -42px;
	color: #FFFFFF;}